@font-face {
    font-family: 'PkChicken';
    src: url(../fonts/PinkChicken-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;}

body{
    font-family: 'PkChicken';}

main{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-left: 100px}

.banner{
    margin-left: 15%;
    margin-right: 15%;
    background: url("img/parceiros.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: white;
    font-size: 50px;
    margin-bottom: 100px;}

.parceiros{
    border: 1px solid black;
    box-shadow: 10px 10px aqua;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 20px;
    width: 30%;
    margin-right: 10px;
    margin-bottom: 70px;}

.parceiros > h1{
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 20px;}

.conteudo{
    padding-bottom: 30px;
    display: flex;}

.conteudo > img{
    width: 40%;
    border-right: 1px solid black;
    margin-right: 30px;}

.info{
    font-size: 20px;
    width: 100%;}

.info > div{
    margin-bottom: 15px;}

a > img{
    width: 20%;}