/* Estilo Geral */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg, orange, red, crimson); /* Gradiente de fundo */
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Sidebar */
.w3-sidebar {
    z-index: 3;
    width: 300px;
    font-weight: bold;
    background-color: #e74c3c;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    color: white;
    padding-top: 20px;
}

/* Layout Principal */
.w3-main {
    margin-left: 300px;
    margin-right: 40px;
    padding: 20px;
    flex-grow: 1;
}

/* Formulário de Pagamento */
.payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    margin-top: 60px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Título */
.payment-form h1 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo dos Grupos de Entrada */
.payment-form div {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Estilo dos Labels */
.payment-form label {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
}

/* Estilo dos Campos de Entrada */
.payment-form input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
    outline: none;
    background-color: #f9f9f9;
    transition: border-color 0.3s, background-color 0.3s;
}

/* Efeito no Foco dos Campos de Entrada */
.payment-form input:focus {
    border-color: #3498db;
    background-color: #eaf4fe;
}

/* Estilo do QR Code */
.payment-form img {
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Botão de Envio */
.payment-form button {
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    max-width: 250px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

/* Efeito no Botão */
.payment-form button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}

/* Responsividade para Telas Menores */
@media (max-width: 768px) {
    .payment-form {
        width: 90%;
        padding: 30px;
    }

    .payment-form h1 {
        font-size: 28px;
    }

    .payment-form input {
        padding: 10px;
        font-size: 14px;
    }

    .payment-form button {
        max-width: 200px;
    }
}
