h1 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PkChicken';
    src: url(../fonts/PinkChicken-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'PkChicken';
}

main {
    margin-left: 10%;
    margin-right: 10%;
}

.banner {
    margin-left: 15%;
    margin-right: 15%;
    background: url("../images/parceiros.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    font-size: 50px;
    display: flex;
    padding-left: 30px;
    color: white;
    margin-bottom: 100px;
    flex-direction: column;
    padding-top: 100px;
}

.parceiros {
    border: 1px solid black;
    box-shadow: 10px 10px aqua;
    display: flex;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 20px;
    margin-right: 10px;
    margin-bottom: 70px;
}

.parceiros>h1 {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
}

.btnvoltar {
    color: white;
    color: currentColor;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 50px;
}

.btnvoltar>img {
    width: 5%;
    margin-right: 20px;
}

.conteudo {
    padding-bottom: 30px;
    display: flex;
}

.conteudo>img {
    width: 40%;
    margin-right: 30px;
}

.info {
    font-size: 20px;
    width: 100%;
    border-left: 1px solid black;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.info>div {
    margin-bottom: 15px;
}

a>img {
    height: 100%;
    width: 350px;
}

.produtos {
    border: 1px solid black;
    width: 115px;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}