/* 1. Fontes */
@font-face {
    font-family: 'PkChicken';
    src: url(../fonts/PinkChicken-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* 2. Reset e base */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, h1, h2, h3, h4, h5 {
    font-family: 'PkChicken', 'Poppins', sans-serif;
    font-size: 16px;
}

/* 3. Estilos específicos */
main{
    display: flex;
    justify-content: space-between;
    height: 100%;}

body{
    background-color: #e52b1f;
    height: 100vh;
    overflow: hidden;
    font-family: 'PkChicken';}

.partelogin{
    background: linear-gradient(90deg, #e52b1f, #53a16a, #fc8b13);
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    width: 43%;}

.partelogin > img{
    width: 80%;
    padding-bottom: 50px;}

form{
    background-color: rgba(255, 255, 255, 0.3);
    width: 80%;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
    align-items: center;}

label{
    margin-bottom: 5px;}

input{
    margin-bottom: 8px;}

.fzrLogin{
    display: flex;}

.fzrLogin > p{
    margin-right: 7px;}

.foto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57%;}
    
.foto > img{
    width: 70%;
    height: 70%;
    padding-bottom: 50px;}