/* Estilo Geral */
body {
    background: linear-gradient(90deg, orange, blue, black);
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease infinite;
    font-family: 'Arial', sans-serif;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Cabeçalho com a logo */
header {
    text-align: center;
    margin-top: 20px;
}

.logo {
    width: 150px;
    height: auto;
    object-fit: contain;
}

/* Container de Feedback */
.feedback-container {
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.feedback-container h1 {
    text-align: center;
    color: #333;
}

.feedback-container .question {
    margin-bottom: 20px;
}

.feedback-container label {
    font-size: 16px;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.feedback-container select, .feedback-container textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.feedback-container select:focus, .feedback-container textarea:focus {
    border-color: #3498db;
    outline: none;
}

.feedback-container button {
    background-color: #3498db;
    color: white;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.feedback-container button:hover {
    background-color: #2980b9;
}

/* Responsividade */
@media (max-width: 768px) {
    .feedback-container {
        padding: 15px;
    }
    .feedback-container h1 {
        font-size: 24px;
    }
    .feedback-container select, .feedback-container textarea {
        font-size: 14px;
    }
}
